In [2]:
# 예제 2-1
x <- 1:5
x

[1] 1 2 3 4 5

In [6]:
y <- c(10, 20, 30, 40, 50)
y

[1] 10 20 30 40 50

In [9]:
dat <- cbind(x, y)
dat

     x y
[1,] 1 10
[2,] 2 20
[3,] 3 30
[4,] 4 40
[5,] 5 50

In [10]:
# not working on jupyter notebook
w1 <- scan()

In [13]:
dat <- data.frame()
dat = edit(dat)

ERROR: Error in edit(dat): ‘edit()’ not yet supported in the Jupyter R kernel

In [14]:
# sink - not working on jupyter notebook
sink('prinsta.txt')
summary(iris)
sink()

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [16]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [17]:
write.csv(iris, "iris.csv")

In [18]:
write.table(iris, "iris.txt")

In [19]:
write.table(iris, "iris.txt", sep=',')

In [20]:
dat <- read.csv("iris.csv")

In [21]:
head(dat)

  X Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1 5.1          3.5         1.4          0.2         setosa
2 2 4.9          3.0         1.4          0.2         setosa
3 3 4.7          3.2         1.3          0.2         setosa
4 4 4.6          3.1         1.5          0.2         setosa
5 5 5.0          3.6         1.4          0.2         setosa
6 6 5.4          3.9         1.7          0.4         setosa

In [22]:
dat <- read.csv("iris.csv", header=T)

In [23]:
head(dat)

  X Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1 5.1          3.5         1.4          0.2         setosa
2 2 4.9          3.0         1.4          0.2         setosa
3 3 4.7          3.2         1.3          0.2         setosa
4 4 4.6          3.1         1.5          0.2         setosa
5 5 5.0          3.6         1.4          0.2         setosa
6 6 5.4          3.9         1.7          0.4         setosa

In [24]:
str(dat)

'data.frame':	150 obs. of  6 variables:
 $ X           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [26]:
dat <- read.csv("iris.csv", header=T, stringsAsFactors=F)
str(dat)

'data.frame':	150 obs. of  6 variables:
 $ X           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : chr  "setosa" "setosa" "setosa" "setosa" ...

In [30]:
dat <- read.table("iris.txt", sep=',')
str(dat)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [31]:
head(dat)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [32]:
ls()

[1] "dat" "w1"  "x"   "y"

In [33]:
rm(list = ls())

In [34]:
ls()

character(0)

In [37]:
# 연구과제 1
setwd("/Users/eyshin/Desktop/example")

In [38]:
# 연구과제 3
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [41]:
temp_data <- c(mean(iris$Sepal.Length), mean(iris$Sepal.Width), mean(iris$Petal.Length), mean(iris$Petal.Width))
write.csv(temp_data, 'mean_iris.csv')

In [42]:
iris2 <- iris

In [45]:
sepal_ratio <- iris$Sepal.Length / iris$Sepal.Width
iris2$Sepal.Ratio = sepal_ratio
head(iris2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Sepal.Ratio
1 5.1          3.5         1.4          0.2         setosa  1.457143
2 4.9          3.0         1.4          0.2         setosa  1.633333
3 4.7          3.2         1.3          0.2         setosa  1.468750
4 4.6          3.1         1.5          0.2         setosa  1.483871
5 5.0          3.6         1.4          0.2         setosa  1.388889
6 5.4          3.9         1.7          0.4         setosa  1.384615

In [46]:
# 연습문제 4
dat <- scan()
sink('test.txt')
mean(dat)
sink()

[1] NaN

In [47]:
# 연습문제 5
rm(list = ls())

In [48]:
ls()

character(0)